#projects {
    padding-block: 2em;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-inline: 2em;
}

.project__card {
    background: #d9d9d9;
    color: hsl(0, 0%, 10%);
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    justify-items: center;
    align-items: center;
    text-align: justify;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center ;
    padding: 1.2em 1em;
    border-radius: 0.5rem;
    max-width: 40ch;
    min-height: 25em;
}

.project__icon {
    background: hsl(0deg 0% 50% / 50%);;
    aspect-ratio: 1;
    width: 4em;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    padding: 0.5em;
}

.project__title {
    margin: 0;
    font-weight: 600;
    font-size: 1.2em;
    max-height: max-content;
}


.card__buttons {
    display: flex;
    gap: 3rem;
}

.project__stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-block: 1em;
}

.project__stack {
    background: #e1ebfb;
    color: #0000ff;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
}

.card-btn-primary {
    background: #0000ff;
    color: #fff;
    font-size: 1em;
    transition: var(--transition);
}


/*responsive*/
/* tablet */