.skill__card {
    background: #d9d9d9;
    color: hsl(0, 0%, 10%);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    padding: 1.2em 1em;
    border-radius: 0.5rem;
    max-width: 40ch;
    min-height: 25em;
}

.skill__card {
    position: relative;
}

.skill__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.skill-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    position: relative;
}

.skill-button:hover {
    background: transparent;
}

/* make a horizontal line */
.skill-button::before {
    content: '';
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    width: min(35ch, 70vw);
    height: 2px;
    background: #000;
    
}
