#about {
    background: linear-gradient(0, var(--color-bg), var(--color-bg-variant));
}

.about__me {
    margin: 0 auto;
    padding: 2em;
    border-radius: 1rem;
    background: var(--color-light);
    color: var(--color-dark);
    position: relative;
    outline: none;
    font-size: 1.2em;
    font-weight: 400;
    max-width: 80vw;
}

.about__me::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #D9D9D9;
  }

