footer {
    background:  var(--primary-button);
    padding: 3rem 0;
    text-align: center;
    color: var(--background);
}

footer a {
    color: var(--background);
}

.footer__logo {
    font-weight: 500;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    font-family: var(--ff-heading);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__socials a {
    font-size: var(--fs-500);
    padding: 0.8rem;
}

.footer__socials a:hover {
    background-color: transparent;
    color: var(--color-bg);
}

.footer__copyright {
    font-size: var(--fs-300);
}

/*responsive*/
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}